<li class="dropdown" data-ng-show="vm.showLogin">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-fw fa-lock"></i> Login
    </a>
    <div class="dropdown-menu dropdown-size-280" data-ng-controller="AccountLoginController as avm">
        <div id="message_panel" data-ng-show="avm.message!=''"
             data-ng-class="(avm.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            <span>::avm.message::</span>
        </div>
        <form novalidate>
            <div class="tabbable">
                <!-- Tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#login" data-toggle="tab" ng-click="avm.viewSwitch(true)">Login</a></li>
                    <li><a href="#passwordFinder" data-toggle="tab" ng-click="avm.viewSwitch(false)">Forget my password</a></li>
                </ul>
                <!-- // END Tabs -->

                <div class="tab-content">
                    <div id="login" class="tab-pane active">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                <input type="email" name="loginEmail" id="loginEmail" class="form-control" placeholder="Email address" data-ng-model="avm.loginData.email"
                                       title="The email address you used to register"
                                       required autofocus ui-keypress="{enter:'avm.submit($event)'}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-shield fa-fw"></i></span>
                                <input type="password" name="loginPassword" id="loginPassword" class="form-control" placeholder="Password" data-ng-model="avm.loginData.password"
                                       title="The password you entered for your account"
                                       required ui-keypress="{enter:'avm.submit($event)'}">
                            </div>
                        </div>
                    </div>
                    <div id="passwordFinder" class="tab-pane">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                <input type="email" name="forgetEmail" id="forgetEmail" class="form-control" placeholder="Email address" data-ng-model="avm.forgetData.email" required autofocus ui-keypress="{enter:'avm.submit($event)'}">
                            </div>
                        </div>
                        <p class="small">
                            We will send you an encrypted link to your email box so you can reset your password.The email should arrive in less than half hour.
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" data-ng-click="avm.submit()">
                    <span ng-if="avm.showLoginForm">Login</span> 
                    <span ng-if="avm.showLoginForm == false">Reset Password</span> 
                    <i class="fa fa-sign-in" ng-if="avm.showLoginForm"></i>
                    <i class="fa fa-unlock" ng-if="avm.showLoginForm == false"></i>
                </button>
            </div>
        </form>
    </div>
</li>
