<div data-ng-controller="ProfileUpdatePasswordController as vm">
    <form class="form-profile" role="form">
        <h2 class="form-profile-heading">::vm.title::</h2>
        <div class="form-group form-control-default">
            <label for="currentPasswordField">Current Password:</label>
            <input type="password" id="currentPasswordField" class="form-control" placeholder="Current Password"
                   data-ng-model="vm.data.currentPassword" required autofocus>
        </div>
        <hr />
        <div class="form-group form-control-default">
            <label for="newPasswordField">New Password:</label>
            <input type="password" id="newPasswordField" class="form-control" placeholder="New Password"
                   data-ng-model="vm.data.newPassword" required>
        </div>
        <div class="form-group form-control-default">
            <label for="newConfirmPasswordField">Confirm Password:</label>
            <input type="password" id="newConfirmPasswordField" class="form-control" placeholder="Confirm New Password"
                   data-ng-model="vm.data.newConfirmPassword" required>
        </div>
        <button class="btn btn-lg btn-info" type="submit" data-ng-click="vm.updatePassword()"
                data-ng-disabled="vm.savedSuccessfully==true">
            Submit <i class="fa fa-floppy-o"></i>
        </button>
        <div>
            <div data-ng-hide="vm.message == ''" data-ng-class="(vm.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                ::vm.message::
            </div>
        </div>
    </form>
</div>
