<section class="cover overlay height-80 height-60-xs">
    <div class="" ng-class="vm.coverClass">
        <div class="container">
            <h1 class="text-h1 text-overlay">::vm.overlayTitle::</h1>
        </div>
    </div>
    <!--<div class="overlay overlay-bg-black">
        <div class="v-bottom">
            <div class="container">
                <p class="text-overlay">
                    ::vm.description::
                </p>
            </div>
        </div>
    </div>-->
</section>