<div data-ng-controller="AdminDishController as vm">

    <div class="row">
        <div class="col-lg-12">
            <div ui-grid="vm.gridOptions"
                 ui-grid-pagination class="refGrid"
                 ui-grid-cellnav></div>
        </div>
    </div>

    <div class="row" style="margin-top:5px; margin-left:10px">
        <div class="col-sm-4">
            <button type="button" class="btn btn-default" ng-click="vm.gridApi.pagination.previousPage()">
                <i class="fa fa-angle-left"></i>
            </button>

            <span>Page: :: vm.gridApi.pagination.getPage() ::</span>
            <span>/ :: vm.gridApi.pagination.getTotalPages() ::</span>

            <button type="button" class="btn btn-default" ng-click="vm.gridApi.pagination.nextPage()">
                <i class="fa fa-angle-right"></i>
            </button>
            &nbsp;&nbsp;
            <span> Total: ::vm.gridOptions.data.length::</span>
        </div>
    </div>

    <div class="widget-foot">
        <div class="clearfix"></div>
    </div>

    <ul class="dish-group">

        <!-- TODO: Put this into a pagable grid -->
        <li ng-repeat="d in vm.dishes">

            <div class="panel panel-default dish-item " data-ng-click=" vm.openDetail(d)">
                <div class="panel-body">
                    <div class="media media-clearfix-xs media-clearfix-sm">
                        <div class="media-left">
                            <p><a><img ng-src="::vm.getPreviewImage(d.DishImageFileName)::" class="media-object img-dish-preview" /></a></p>
                            <div class="text-center small">
                                <rating data-ng-model="d.Rating" max="5" readonly="true" state-off="'none'"></rating>
                            </div>
                        </div>
                        <div class="media-body">
                            <div class="pull-right card-target">
                                <a>
                                    <img ng-src="::vm.getDinerImage(d.CreatorImageFileName)::" class="img-avatar" />
                                </a>
                                <a><span><i class="fa fa-comments"></i> ::d.CommentCount::</span></a>
                                <a class="centered crave-button" data-ng-click="vm.craveForIt(d, $event)">
                                    <span class="fa fa-heart-o crave-dish-icon"></span>
                                    <span class="crave-dish-count">::d.NumberOfCravingDiners::</span>
                                </a>
                            </div>
                            <h4 class="media-heading margin-v-0-10">
                                <a>::d.Name::</a>
                                <small class="text-grey-400"><i class="fa fa-clock-o fa-fw"></i> 5 days ago</small>
                            </h4>
                            <p class="margin-none">
                                <span class="label label-grey-100 dish-item-restaurant"><i class="fa icon-fork-knife fa-fw"></i> ::d.RestaurantName::</span>
                                <small class="label label-grey-100 "><i class="fa fa-location-arrow fa-fw"></i> ::d.RestaurantAddress::</small>
                            </p>
                            <p class="margin-none">
                                <span class="label label-grey-100" data-ng-repeat="tag in d.Cravings">::tag::</span>
                            </p>
                            <p class="margin-none" data-ng-show="d.Description!=null">::d.Description::</p>
                        </div>
                    </div>
                </div>
            </div>

        </li>
    </ul>

</div>